{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--允许全屏-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=no">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/public.js' %}" type="text/javascript"></script>

        <script src="{% static 'js/flexible.debug.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/flexible_css.debug.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/ui_datepicker_jquery-ui.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.mloading.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/fm.selectator.jquery.js' %}" type="text/javascript"></script>

        <title>申万宏源FICC</title>
        <link href="{% static 'css/quotes.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.mloading.css' %}" rel="stylesheet">
        <link href="{% static 'css/fm.selectator.jquery.css' %}" rel="stylesheet">


        <style>
            html,body{
                height: 100vh;
                background-color: #050505;
            }
        </style>
    </head>

    <body>
    <!-- Item Header Template -->
        <div class="html_content">
            <div class="item-section" data-repeat="sections">
                <div class="item-section_header" style="float:left;">
                    <h2><img src="/static/image/swhylogo.png" style="width: 6rem; float:left; max-width: 100%"></h2>
                </div>

                <div class="item-section_header" style="margin:auto; width:500px; height:100px; margin-top: .2rem;">
                    <h2 style="color: #FFEFDB; font-size: 25px">平值期权报价</h2>
                    <h2 style="color: #FFEFDB; margin-bottom: .5rem; font-size: 22px">（系统测试中，报价仅为展示用）</h2>
                </div>

                <div class="calender-body_right" style="top: .8rem; ">
                    <label style="color: #FFEFDB">期限：</label>
                    <select id="qixian" style="font-size:5px; height: 0.5rem; width: 1.5rem">
                        <option value="00" >--选择期限--</option>
                    </select>
                </div>

                <table id="optionTable" class="table">
                    <tr id="tableTitle">
                        <th class="table-th">品种</th>
                        <th class="table-th">标的</th>
                        <th class="table-th">标的价格</th>
                        <th class="table-th">卖价</th>
                        <th class="table-th">买价</th>
                    </tr>
                </table>

            </div>
        </div>


        <script>
             $(function() {
                 //进度条
                 $('body').mLoading({
                    text:"申万宏源欢迎您，加载数据中",//加载文字，默认值：加载中...
                 });

                 //初始化选择框
                 init();

                 //加载报价数据
                 var qixian = 1, dateselect = null;
                 loadQuotesData(qixian);

                //刷新页面，每隔5秒刷新一次数据
                setInterval(refreshQuoteData,10000);
             });


             function init() {
                 $("#qixian").empty();
                 selectInit($("#qixian"), 'qixian');
                 $('#qixian').selectator({
                     showAllOptionsOnFocus: true,
                     useSearch: false
                 });

                 //绑定期限下拉框及日期
                 $("#qixian").change(function(){
                     $('body').mLoading({
                         text:"加载中",//加载文字，默认值：加载中...
                     });
                     $('#optionTable tr:gt(0)').remove();
                     var qixian = $(this).children('option:selected').val();
                     {#var dateselect = $("#datepicker").val();#}
                     loadQuotesData(qixian);
                 });
             }

             /***** 价格获取函数 *****/
             function loadQuotesData(qixian){
                 var url = '/quotes/loadQuotes/';
                 $.ajax({
                     type: 'POST',
                     data:{
                         "qixian":qixian,
                     },
                     dataType: 'json',
                     url: url,
                     success: loadData,
                     error : errorInfo,
                     //采用异步
                     async: true
                 });
             }

             var loadData = function(data){
                 //更新数据
                 console.log(data);
                 $.each(data.quoteData, function(i, item){
                     itemId = i.substr(0, i.indexOf('.'));
                     //判断当前价格是否高于昨收，定义字体颜色
                     forward = parseFloat(item.forward);
                     lastPrice = parseFloat(item.lastPrice);
                     if(forward < lastPrice)
                         fontColor = 'Green';
                     else if(forward > lastPrice)
                         fontColor = 'Red';
                     else if(forward === lastPrice)
                         fontColor = 'White';
                     var newRow=$('<tr id="'+itemId+'" style="background-color:#050505">' +
                         '<td class="table-td" id="'+itemId+'item"> <a href="../quotes/TQuotes/' + i + '\" style="text-decoration: none; color: inherit;" >'+ item.name + '</a>' +'</td>' +
                         '<td class="table-td" id="'+itemId+'contract">'+ i +'</td>' +
                         '<td class="table-td" id="'+itemId+'forward" style="color: '+ fontColor + ';">'+ forward +'</td>' +
                         '<td class="table-td" id="'+itemId+'pricingAsk" style="color: '+ fontColor + ';">'+ item.pricingAsk +'</td>' +
                         '<td class="table-td" id="'+itemId+'pricingBid" style="color: '+ fontColor + ';">'+ item.pricingBid +'</td>').hide().fadeIn(1000);
                     $('#optionTable').append(newRow);
                 });
                 $('body').mLoading("hide");
             };

             /***** 页面自动刷新函数 *****/
             function refreshQuoteData() {
                 var url = '/quotes/updateQuotes/';
                 var qixian = $("#qixian").children('option:selected').val();
                 var dateselect = $("#datepicker").val();
                 $.ajax({
                     type: 'POST',
                     data:{
                         "qixian":qixian,

                     },
                     dataType: 'json',
                     url: url,
                     success: updateData,
                     error : errorInfo,
                     //采用异步
                     async: true
                 });
             }

            var updateData = function(data){
                //更新数据
                console.log(data);
                $.each(data.quoteData, function(i, item) {
                    itemId = item[0].substr(0, item[0].indexOf('.'));
                    if(item[1].forward < item[1].lastPrice)
                         fontColor = 'Green'
                     else if(item[1].forward > item[1].lastPrice)
                         fontColor = 'Red'
                     else if(item[1].forward === item[1].lastPrice)
                         fontColor = 'White'
                    changeFont(itemId+'forward', item[1].forward, fontColor);
                    changeFont(itemId+'pricingAsk', item[1].pricingAsk, fontColor);
                    changeFont(itemId+'pricingBid', item[1].pricingBid, fontColor);
                });
            };

            // 更改内容渐变字体,#####需要判断修改的数值是否有变化#####
            function changeFont(id, text, fontColor) {
                //如果字段值有变化，触发修改动作
                if($("#"+id).text() !== text){
                    $("#"+id).animate({ opacity: '0'}, 500, function () {
		                $(this).html(text).css("color",fontColor);
	                }).animate({ opacity: '1'}, 500);
                }
            }
            //错误信息处理界面
            var errorInfo = function(msg){
                //关闭进度条
                $('body').mLoading("hide");

            };
        </script>
    </body>
</html>