<!DOCTYPE html>
<html lang="en">

<!--引用静态文件 -->
{% load staticfiles %}
<!--<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>-->
<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/highstock.js' %}" type="text/javascript"></script>
<script src="{% static 'js/exporting.js' %}" type="text/javascript"></script>
<script src="{% static 'js/highcharts-zh_CN.js' %}" type="text/javascript"></script>
<script src="{% static 'js/public.js' %}" type="text/javascript"></script>
<script src="{% static 'js/flexible.js' %}" type="text/javascript"></script>
<script src="{% static 'js/moment.js' %}" type="text/javascript"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>期权组合情景分析</title>

    <link href="{% static 'css/flexible.css' %}" rel="stylesheet">
    <link href="{% static 'css/public.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>
<body>

     <div class="div_tab_container">
         <div class="tab-group" id="YTM" style="margin-top: 0.2rem;width: 55%; margin-left: 0.2rem; padding-left: 0">
             <section id="YTM_tab1" title="期货价格走势图">
                 <div id="YTM_tab1_container" class="container_highstock"></div>
             </section>
         </div>
         <div class="tab-group" id="YTMSpread" style="margin-top: 0.2rem; width: 35%; margin-left: 0.2rem">
             <section id="YTMSpread_tab2" title="期权组合交易结构">
                 <div id="YTMSpread_tab2_container" class="container_highstock"></div>
             </section>
         </div>
         <div class="tab-group" id="YTMAnaltic" style="margin-top: 1.2rem; margin-left: 0.2rem; width: 90.5%">
             <section id="YTMAnaltic_tab1" title="期权组合方案">

                 <!-- 品种输入框 -->
                 <div style="position:relative;float: left; width:55%">
                     <div class="form-group" style="height: 0.5rem; margin-top: 0.4rem; margin-left: .4rem; font-size: 0.3rem">
                         <label for="exampleInputEmail1">期权方案</label>
                         <input class="form-control" placeholder="请输入期权方案" style="font-size: 0.3rem; height: 0.1rem; width:100%; text-align: center" id="PackageAnalysis" type="text">
                         <small class="form-text text-muted">调试阶段，本结构显示仅做展示用</small>
                         <button id="PackageClear" type="button" class="btn btn-primary btn-sm" style=" margin-top: 0.2rem; width:20%; text-align: center; font-size:0.3rem;">清空</button>
                     </div>

                     <!-- 清除float样式 -->
                     <div class="clear" ></div>

                 </div>

                 <!-- 期权报价展示 -->
                 <div style="position:relative; width:38.5%; font-size:0.3rem; float:right;margin-top:.4rem;">
                     <!-- 标题 -->
                     <div class="card border-light mb-3" style="height: 1rem; font-size:0.3rem; max-width: 20rem;">
                         <div class="card-header">
                             <div style=" color:midnightblue; float:left">基准合约：</div>
                             <div id="instrument" style="float:left; margin-left: .4rem">--</div>

                             <div style="position:relative; color:midnightblue; float:left; margin-left:.5rem">昨收盘价：</div>
                             <div id="closePrice" style="position:relative; float:left; margin-left: .4rem">--</div>

                             <!-- 清除float样式 -->
                             <div class="clear" ></div>

                             <div style="margin-top: .4rem">当前组合权利金价格:</div>
                             <div id="Premium" style="color:red">10.21元</div>
                             <div id="PremiumStructure" style="color:red">@HC1805,PUT,1M,1.05,1.1%</div>

                         </div>

                         <div class="card-body">
                             <!-- 期权组合方案展示 -->
                             <h4 class="card-title" style="text-align: left; font-size: 0.3rem">当前期权组合方案:</h4>
                             <table id="optionPackage" style="position:relative; float:left;">
                                 <tr >
                                     <th class="table-th">ASK@HC1805,PUT,1M,1.05</th>
                                 </tr>
                                 <tr style=>
                                     <th class="table-th">BID@HC1805,CALL,1M,0.98</th>
                                 </tr>
                             </table>

                         </div>
                     </div>

                     <!-- 当前组合期权付费展示 -->
                         <div style="position:relative; margin-top: 0.5rem;">

                         </div>

{#                     <div id="diffMatrixContainer" style="position:relative; float:left;">#}
{#                         <!-- 期限矩阵初始化 -->#}
{#                         <table id="PremiumMatrix" style="margin-top: 0rem" class="hor-minimalist-b">#}
{#                             <thead>#}
{#                                 <tr>#}
{#                                     <th scope="col"></th>#}
{#        	                         <th scope="row">执行价格</th>#}
{#                                     <th scope="row">买入</th>#}
{#                                     <th scope="row">卖出</th>#}
{#                                 </tr>#}
{#                             </thead>#}
{#                             <tbody>#}
{#                                 <tr>#}
{#                                     <th rowspan="6">看涨期权</th><th scope="col">105%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">104%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">103%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">102%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">101%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">100%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th rowspan="6">看跌期权</th><th scope="col">100%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">99%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">98%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">97%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">96%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{#                                 <tr>#}
{#        	                         <th scope="col">95%</th><td>--</td><td>--</td>#}
{#                                 </tr>#}
{##}
{#                            </tbody>#}
{#                         </table>#}
{#                     </div>#}
                 </div>

             </section>
         </div>
     </div>



<script type="text/javascript">

        $(function() {
            //进度条
            /*
                $('body').mLoading({
                    text:"申万宏源欢迎您，加载数据中",//加载文字，默认值：加载中...
                });
            */

            //初始化页面
            init();

            var duration = "1M", startTime = null, endTime = null;
            var optionStructure = [];

            //解析基准合约
            var optionsType = substring($('#PremiumStructure').indexOf('@')+1,$('#PremiumStructure').indexOf(','));
            changeFont('instrument', optionsType, 'black');

            var optionData = generatePackage(optionStructure);
            loadOpData("CU1805.SHF",duration, startTime, endTime, optionData, 'YTM_tab1_container');

        });

        function init()
        {
            //加载标签栏
            $('.tab-group').tabify();

            //获得期权组合结构
            var optionStructure = [];
            $('#optionPackage tr').each(function (i) {
                optionStructure[i]=$(this).text();
            });
            if (optionStructure.length == 0) {
                alert("Error");
                //$('body').mLoading("hide");
            }


            //绑定输入框，解析期权组合结构
            //需要加入读取剪贴板内容
            $('#PackageAnalysis').change(function() {
                var optionPackage = $(this).text();
                var optionsType = substring(optionPackage.indexOf('@')+1,optionPackage.indexOf(','));

                //解析基准合约
                changeFont('instrument', optionsType, 'black');

                optionPackage = optionPackage.split(";");
                $.each(optionPackage, function (i, item) {
                    var newRow = $ ('<tr style="padding: auto">' +
                         '<th class="table-th">'+item+'</th></tr>').hide().fadeIn(1000);
                    $('#optionPackage').append(newRow);
                });

                var optionData = generatePackage(optionStructure);
                var startTime = null, endTime = null;

                loadOpData(optionsType,duration, startTime, endTime, optionData, 'YTM_tab1_container');
                getSenarioAnalysis(optionsType, optionData, 'YTMSpread_tab2_container');
            });
            //绑定清空按钮
            $( "#PackageClear" ).click(function() {
                //清空下方方案条
                $('#optionPackage').remove();
                $('#Premium').remove();
                $('#PremiumStructure').remove();
            });


        }

        function generatePackage(optionStructure){
            var optionData = {}
            for (var i = 0; i < optionStructure.length; i++) {
                optionStructure[i] = optionStructure[i].split(",");
                var optionStr = {}
                var price = optionStructure[i][3];
                optionStr['futuresType'] = substring(optionStructure[i].indexOf('@')+1,optionStructure[i].indexOf(','));
                optionStr['duration'] = optionStructure[i][2];
                optionStr['price'] = optionStructure[i][3];
                optionStr['optionType'] = optionStructure[i][1];
                optionStr['trade'] = substring(0,optionStructure[i].indexOf('@'));
                optionData[price] = optionStr;
                return optionData
            }
        }

        /***** 标的合约走势图 *****/
        /*****
         * futuresType 期货合约名称，例如“豆一”
         * duration 合约期限，例如“1Y”
         * startTime 查询开始时间 默认null
         * endTime 查询结束时间 默认null
         * optionData 期权组合结构
         * containerName 装载分析图的容器
         * */
        function loadOpData(futuresType, duration, startTime, endTime, optionData, containerName){
            var url = '/Quotes/OptionAnalytic/loadData';
            //给method赋默认参数
            $.ajax({
                type: 'POST',
                data:{
                    "futuresType":futuresType,
                    "duration":duration,
                    "startTime":startTime,
                    "endTime":endTime,
                    "optionStr":optionData,
                    'containerName':containerName
                },
                dataType: 'json',
                url: url,
                success: loadData,
                error: errorInfo,
                //采用异步
                async: true
            });
        }


        var loadData = function(data) {
            var seriesData = [];
            var arrayData = [];

            $.each(data.quoteData, function (i, item) {
                seriesData.push([
                    str2UTC(item.timestamp),
                    parseFloat(item.bondytm)
                ]);
                arrayData.push([
                    parseFloat(item.bondytm)
                ]);
            });

            //解析json数据
            data = eval('('+data+')');
            //取出合约名称
            var futuresType = data.futuresType;
            var containerName = data.containerName;
            //加载数据
            $.each(data.quoteData, function (i, item) {
                seriesData.push([
                    str2UTC(item.timestamp),
                    parseFloat(item.bondytm)
                ]);
                arrayData.push([
                    parseFloat(item.bondytm)
                ]);
            });
            /*******  创建图形  ******/
            createCharts(seriesData, futuresType, containerName);
            //$('body').mLoading("hide");

            /*******  加载数据分析数据  ******/
            //销毁变量，释放空间
            delete seriesData;

            //console.log(data);
        };


        function createCharts(data, futuresType, containerName) {
            //关闭UTC时间,设置title格式
            Highcharts.setOptions({
                global: {
                    useUTC: false,
                    timezoneOffset: -8 * 60
                },
                //去除左上角的字体
                lang: {
                    rangeSelectorZoom: null
                },
                title: {
                    align: 'left', x: 5, y: 20,
                    style: {
                        fontSize: '20px',
                        color: '#304354',
                        fontWeight: 'bold',
                    }
                }
            });
            // Create the chart
            Highcharts.stockChart(containerName, {
                title: {
                    //设置标题
                    text: futuresType,
                },
                tooltip: {
                    xDateFormat: '%Y-%m-%d',
                    shared: true,
                },
                plotOptions: {
                    series: {
                        pointStart: Date.UTC(2012, 0, 1),
                        pointInterval: 24 * 3600 * 1000
                    }
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {

                    title: {
                        text: '标的价格',

                    }
                },
                series: [{
                    name: 'YTM',
                    data: data,
                    id: 'dataseries'
                    // the event marker flags
                }, {
                    type: 'flags',
                    data: [{}],
                    onSeries: 'dataseries',
                    shape: 'circlepin',
                    width: 16
                }],
                rangeSelector: {
                    buttonTheme: {
                        display: 'none' // 不显示按钮
                    },
                    selected: 0,
                    inputEnabled: true // 不显示日期输入框
                },
                //添加切换久期的按钮
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false,
                            menuItems: [{
                                text: 'Download PDF',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/pdf'
                                    });
                                }
                            }, {
                                    text: 'Print',
                                    onclick: function () {
                                        alert('Launch Print Table function')
                                    },
                                    separator: false
                            }]
                        }
                    }
                }
            });
        }

        function getSenarioAnalysis(futuresType, optionData, containerName){
            var url = '/Quotes/OptionAnalytic/loadData';
            //给method赋默认参数
            $.ajax({
                type: 'POST',
                data:{
                    "futuresType":futuresType,
                    "optionStr":optionData,
                    'containerName':containerName
                },
                dataType: 'json',
                url: url,
                success: loadScene,
                error: errorInfo,
                //采用异步
                async: true
            });
        }

         /***** 情景分析函数 *****/
        var loadScene = function(data) {
            var seriesData = [];
            var arrayData = [];
            //解析json数据
            data = eval('('+data+')');
            //取出债券名称
            var futuresType = data.futuresType;
            var containerName = data.containerName;
            var strikePrice = data.strikePrice;

            /*******  创建图形  ******/
            createOptionCharts(seriesData, futuresType, strikePrice, containerName);
            //$('body').mLoading("hide");

            /*******  加载数据分析数据  ******/
            //销毁变量，释放空间
            delete seriesData;
            //加载数据分析函数
            loadAnalysisData(arrayData);


            //console.log(data);
        };

        function createOptionCharts(data, futuresType, containerName) {
            //关闭UTC时间,设置title格式
            Highcharts.setOptions({
                global: {
                    useUTC: false,
                    timezoneOffset: 8 * 60
                },
                //去除左上角的字体
                lang: {
                    rangeSelectorZoom: null
                },
                title: {
                    align: 'left', x: 5, y: 20,
                    style: {
                        fontSize: '20px',
                        color: '#304354',
                        fontWeight: 'bold',
                    }
                }
            });
            // Create the chart
            Highcharts.Chart(containerName, {
                title: {
                    //设置标题
                    text: futuresType +'期权结构示意',
                },
                tooltip: {
                    shared: true,
                    pointFormat: 'x = {point.x}, y = {point.y}'
                },
                xAxis: {
                    type: 'datetime',
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true,
                    categories: data.strike,
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: '收益'
                    }
                },
                series: [{
                    type: 'arearange',
                    data: [
                        [0, 2, 4],
                        [2, 4, 7]
                    ]
                }],
                rangeSelector: {
                    buttonTheme: {
                        display: 'none' // 不显示按钮
                    },
                    selected: 0,
                    inputEnabled: true // 不显示日期输入框
                },
                //添加切换久期的按钮
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false,
                            menuItems: [{
                                text: 'Download PDF',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/pdf'
                                    });
                                }
                            }, {
                                    text: 'Print',
                                    onclick: function () {
                                        alert('Launch Print Table function')
                                    },
                                    separator: false
                            }]
                        }
                    }
                }
            });
        }
    </script>

</body>
</html>

