<!DOCTYPE html>
<html lang="en">

<!--引用静态文件 -->
{% load staticfiles %}
<!--<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>-->
<script src="{% static 'js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/highstock.js' %}" type="text/javascript"></script>
<script src="{% static 'js/exporting.js' %}" type="text/javascript"></script>
<script src="{% static 'js/highcharts-zh_CN.js' %}" type="text/javascript"></script>
<script src="{% static 'js/public.js' %}" type="text/javascript"></script>
<script src="{% static 'js/flexible.js' %}" type="text/javascript"></script>
<script src="{% static 'js/fm.selectator.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/moment.js' %}" type="text/javascript"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highstock Example</title>

    <link href="{% static 'css/flexible.css' %}" rel="stylesheet">
    <link href="{% static 'css/public.css' %}" rel="stylesheet">
    <link href="{% static 'css/fm.selectator.jquery.css' %}" rel="stylesheet">

</head>

<body>

     <div class="div_tab_container">
         <div class="tab-group" id="YTM" style="margin-top: 0.2rem; margin-left: 0.2rem">
             <section id="YTM_tab1" title="债券走势图1">
                 <div id="YTM_tab1_container" class="container_highstock"></div>
             </section>
             <section id="YTM_tab2" title="债券走势图2">
                 <div id="YTM_tab2_container" class="container_highstock"></div>
             </section>
         </div>
         <div class="tab-group" id="YTMSpread" style="margin-top: 0.2rem; margin-left: 0.2rem">
             <section id="YTMSpread_tab2" title="债券价差图">
                 <div id="YTMSpread_tab2_container" class="container_highstock">
                 </div>
             </section>
         </div>
         <div class="tab-group" id="YTMAnaltic" style="margin-top: 1.2rem; margin-left: 0.2rem; width: 90.5%; height: 150%">
             <section id="YTMAnaltic_tab1" title="价差历史统计">
                 <!-- 债券选择框1 -->
                  <div  style="position:relative;">
                      <div id="bondName1" style="height: 0.5rem; float:left; margin-left: .4rem; margin-top: .29rem">
                          债券1--类型：
                      </div>
                      <select id = "bondNameSelect1" style="height: 0.5rem; float:left; margin-left: .1rem; margin-top: .2rem;">
                          <option value="00">--选择债券--</option>
                      </select>
                      <div id="durationText1" style="height: 0.5rem; float:left; margin-left: 1rem; margin-top: .29rem">
                          债券1--期限：
                      </div>
                      <select id = "durationSelect1" style="height: 0.5rem; float:left; margin-left: .1rem; margin-top: .2rem;">
                          <option value="00">--选择期限--</option>
                      </select>
                      <!-- 债券选择框2 -->
                      <div id="bondName2" style="height: 0.5rem; float:left; margin-left: 1rem; margin-top: .29rem">
                          债券2--类型：
                      </div>
                      <select id = "bondNameSelect2" style="height: 0.5rem; float:left; margin-left: .1rem; margin-top: .2rem;">
                          <option value="00">--选择债券--</option>
                      </select>
                      <div id="durationText2" style="height: 0.5rem; float:left; margin-left: 1rem; margin-top: .29rem">
                          债券2--期限：
                      </div>
                      <select id = "durationSelect2" style="height: 0.5rem; float:left; margin-left: .1rem; margin-top: .2rem;">
                          <option value="00">--选择期限--</option>
                      </select>
                      <button id="diffCacl" type="button" style="height: 0.5rem; width: 1.5rem; margin-left: 1rem; margin-top: .2rem;">分析价差</button>
                  </div>
                  <!-- 清除float样式 -->
                  <div class="clear" ></div>

                  <div style="position:relative; float:left;">
                      <!-- 最新价差数据展示 -->
                      <div style="position:relative; float:left; margin-top: 0.3rem; margin-left: .4rem">最新价差显示:</div>
                      <div id="latestDiffPrice" style="position:relative; float:left; margin-top: 0.3rem; margin-left: .4rem">null</div>
                      <div id="latestDiffDiff" style="position:relative; float:left; margin-top: 0.3rem; margin-left: .4rem">null</div>
                      <div id="latestDiffPercent" style="position:relative; float:left; margin-top: 0.3rem; margin-left: .4rem">null</div>
                      <!-- 清除float样式 -->
                      <div class="clear" ></div>

                      <!-- 昨结价差数据展示 -->
                      <div style="position:relative; float:left; margin-top: 0.5rem; margin-left: .4rem">昨结价差显示:</div>
                      <div id="lastDiffPrice" style="position:relative; float:left; margin-top: 0.5rem; margin-left: .4rem">null</div>
                      <div style="position:relative; float:left; margin-top: 0.5rem; margin-left: 2rem;">今结价差：</div>
                      <div id="lastDiffPercent" style="position:relative; float:left; margin-top: 0.5rem; margin-left: .4rem">null</div>
                      <!-- 清除float样式 -->
                      <div class="clear" ></div>

                      <!-- 平均值，中位数展示 -->
                      <div style="position:relative; margin-top: 0.5rem; margin-left: 1rem; float:left;">平均值:</div>
                      <div id="diffMean" style="position:relative; margin-top: 0.5rem; margin-left: .5rem; float:left;">null</div>
                      <div style="position:relative; float:left; margin-top: 0.5rem; margin-left: 2.5rem;">中位数:</div>
                      <div id="diffMedian" style="position:relative; margin-top: 0.5rem; margin-left: .5rem; float:left;">null</div>
                      <!-- 清除float样式 -->
                      <div class="clear" ></div>

                      <!-- 偏离平均值，百分位数展示 -->
                      <div style="position:relative; margin-top: 0.3rem; margin-left: 1rem; float:left;">偏离平均值:</div>
                      <div id="diffDeviateMean" style="position:relative; margin-top: 0.3rem; margin-left: .5rem; float:left;">null</div>
                      <div style="position:relative; float:left; margin-top: 0.3rem; margin-left: 2.05rem;">百分位数:</div>
                      <div id="diffPercent" style="position:relative; margin-top: 0.3rem; margin-left: .5rem; float:left;">null</div>
                      <!-- 清除float样式 -->
                      <div class="clear" ></div>

                      <!-- 标准差，最大值展示 -->
                      <div style="position:relative; margin-top: 0.3rem; margin-left: 1rem; float:left;">标准差:</div>
                      <div id="diffStandardDeviation" style="position:relative; margin-top: 0.3rem; margin-left: .5rem; float:left;">null</div>
                      <div style="position:relative; float:left; margin-top: 0.3rem; margin-left: 2.5rem;">最大值:</div>
                      <div id="diffMax" style="position:relative; margin-top: 0.3rem; margin-left: .5rem; float:left;">null</div>
                      <!-- 清除float样式 -->
                      <div class="clear" ></div>

                      <!-- 偏离标准差，最小值展示 -->
                      <div style="position:relative; margin-top: 0.3rem; margin-left: 1rem; float:left;">偏离标准差:</div>
                      <div id="diffDeviateStandardDeviation" style="position:relative; margin-top: 0.3rem; margin-left: .5rem; float:left;">null</div>
                      <div style="position:relative; float:left; margin-top: 0.3rem; margin-left: 2.05rem;">最小值:</div>
                      <div id="diffMin" style="position:relative; margin-top: 0.3rem; margin-left: .5rem; float:left;">null</div>
                      <!-- 清除float样式 -->
                      <div class="clear" ></div>
                  </div>

                 <!-- 价差矩阵多选框 -->
                 <div style="position:relative; float:left; margin-top: 0.3rem; margin-left: 1rem">
                     <!-- 标题 -->
                     <div style="float:left; margin-top: 0.15rem;">债券选择：</div>
                     <!-- 债券类型多选框 -->
                     <select id="bondYTMTypeSelect" style="float:left; height: 0.5rem; width: 4rem; margin-left: .4rem" name="债券类型多选" ></select>

                     <div style="float:left; margin-top: 0.15rem; margin-left: 0.3rem;">期限选择：</div>
                     <!-- 久期多选框 -->
                     <select id="bondYTMDurationSelect" style="float:left; margin-left: .4rem; height: 0.5rem; width: 4rem" name="债券期限多选" ></select>
                     <!--<button id="generateDiffMatrix" type="button" style="height: 0.5rem; width: 1.5rem; margin-left: 0.4rem;">生成矩阵</button>-->
                     <!-- 清除float样式 -->
                     <div class="clear" ></div>
                     <!-- 价差矩阵 -->
                     <div id="diffMatrixContainer" style="position:relative; float:left;">
                         <!-- 期限矩阵初始化 -->
                         <table id="durationMatrix" class="hor-minimalist-b">
                            <thead>
    	                        <tr>
        	                        <th scope="col">跨期限矩阵</th>
                                    <th scope="col">1Y</th>
                                    <th scope="col">3Y</th>
                                    <th scope="col">5Y</th>
                                    <th scope="col">7Y</th>
                                    <th scope="col">10Y</th>
                                </tr>
                            </thead>
                            <tbody>
    	                        <tr>
        	                        <th>1Y</th>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
        	                        <th>3Y</th>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
        	                        <th>5Y</th>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
        	                        <th>7Y</th>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
        	                        <th>10Y</th>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                            </tbody>
                         </table>
                     </div>
                 </div>

             </section>
         </div>
     </div>

    <script type="text/javascript">

        $(function() {
            //进度条
            /*
                $('body').mLoading({
                    text:"申万宏源欢迎您，加载数据中",//加载文字，默认值：加载中...
                });
            */
            //初始化页面
            init();
            var duration = "1Y", startTime = null, endTime = null;
            loadYTMData("中债农发行债",duration, startTime, endTime, 'YTM_tab1_container');

        });

        function init()
        {
            //加载标签栏
            $('.tab-group').tabify();

            //初始债券类型下拉框
            selectInit($("#bondNameSelect1"),'bondytmtype');
            selectInit($("#bondNameSelect2"),'bondytmtype');
            //初始期限下拉框
            selectInit($("#durationSelect1"),'bondytmduration');
            selectInit($("#durationSelect2"),'bondytmduration');

            //绑定债券类型下拉框选择事件
            $("#bondNameSelect1").change(function(){
                var duration = $("#durationSelect1").children('option:selected').text();
                var bondType = $(this).children('option:selected').text();
                var startTime = null, endTime = null;
                loadYTMData(bondType, duration, startTime, endTime, 'YTM_tab1_container');
            });
            $("#bondNameSelect2").change(function(){
                var duration = $("#durationSelect2").children('option:selected').text();
                var bondType = $(this).children('option:selected').text();
                var startTime = null, endTime = null;
                loadYTMData(bondType, duration, startTime, endTime, 'YTM_tab2_container');
            });

            //绑定期限下拉框选择事件
            $("#durationSelect1").change(function(){
                var duration = $(this).children('option:selected').text();
                var bondType = $("#bondNameSelect1").children('option:selected').text();
                var startTime = null, endTime = null;
                loadYTMData(bondType,duration, startTime, endTime, 'YTM_tab1_container');
            });
            $("#durationSelect2").change(function(){
                var duration = $(this).children('option:selected').text();
                var bondType = $("#bondNameSelect2").children('option:selected').text();
                var startTime = null, endTime = null;
                loadYTMData(bondType,duration, startTime, endTime, 'YTM_tab2_container');
            });

            //绑定价差分析按钮
            $( "#diffCacl" ).click(function() {
                var bondType = [], duration = [];
                bondType[0] = $("#bondNameSelect1").children('option:selected').text();
                bondType[1] = $("#bondNameSelect2").children('option:selected').text();
                duration[0] = $("#durationSelect1").children('option:selected').text();
                duration[1] = $("#durationSelect2").children('option:selected').text();
                var startTime = null, endTime = null;
                getBondYTMDiffCacl(bondType,duration, startTime, endTime, 'YTMSpread_tab2_container');
            });

            /*
            * 价差矩阵多选框初始化
            * */
            //债券类型
            selectInit($("#bondYTMTypeSelect"),'bondytmtype');

            //债券期限
            selectInit($("#bondYTMDurationSelect"),'bondytmduration');

            //获取债券类型和期限码值
            var codeDataBondType = getCode('bondytmtype')
            //初始化跨品种矩阵矩阵
            var table = $("<table id='bondYTMMatrix' class='hor-minimalist-b'>");
            table.appendTo($("#diffMatrixContainer"));
            //生成表头
            var thead = $("<thead> <tr> </tr> </thead>");
            thead.appendTo(table)
            //添加空格
            var th = $("<th scope='col'>跨品种矩阵</th>");
            th.appendTo(thead);
            for (var i=0; i<codeDataBondType.length; ++i) {
                var th = $("<th scope='col'>" + codeDataBondType[i].text + "</th>");
                th.appendTo(thead);
            }
            //生成表体
            var tbody = $("<tbody> <\tbody>");
            tbody.appendTo(table);
            for (var i=0; i<codeDataBondType.length; ++i) {
                var tr = $("<tr> <\tr>");
                tr.appendTo(tbody);
                var th = $("<th>" + codeDataBondType[i].text + "</th>");
                th.appendTo(tr);
                for(var j=0; j<codeDataBondType.length; ++j) {
                    var td = $("<td>--</td>");
                    td.appendTo(tr);
                }
            }

            //绑定选择框按钮
            var startTime = moment().subtract(1,'days').format('YYYY-MM-DD')
            var endTime = null, container = null;
            var duration = ['1Y', '3Y', '5Y', '7Y', '10Y'];
            $("#bondYTMTypeSelect").change(function() {
                var bondType = $(this).children('option:selected').text();
                generateYTMMatrix(bondType, duration, startTime, endTime, container);
            });
            $( "#bondYTMDurationSelect" ).change(function() {

            });
            /*
            //绑定生成矩阵按钮
            $( "#generateDiffMatrix" ).click(function() {
                var bondType = $("#bondYTMTypeMultiSelect").children('option:selected').map(function() {
                    return $(this).text();
                }).get();
                var duration = $("#bondYTMDurationMultiSelect").children('option:selected').map(function() {
                    return $(this).text();
                }).get();
                //未来startTime可以改为当前时间-1天
                var startTime = '2018-01-09', endTime = null, container = null;
                generateYTMMatrix(bondType, duration, startTime, endTime, container);
                //console.log(typeof(bondType.join()), duration.join());
            });
            */

        }

        /***** 债券走势图 *****/
        /*****
         * bondtype 债券名称，例如“中债农发行债”
         * duration 债券期限，例如“1Y”
         * startTime 查询开始时间 默认null
         * endTime 查询结束时间 默认null
         * containerName 装载分析图的容器
         * method 加载数据的方式，‘loadData’不包含价差分析函数loadAnalysisData， ‘loadDiff’包含价差分析函数，默认为‘loadData’
         *
         * */
        function loadYTMData(bondType, duration, startTime, endTime, containerName, method){
            var url = '/FixedIncome/YTMAnalytic/loadData';
            //给method赋默认参数
            method = method ? method : 'loadData';
            $.ajax({
                type: 'POST',
                data:{
                    "bondType":bondType,
                    "duration":duration,
                    "startTime":startTime,
                    "endTime":endTime,
                    'containerName':containerName,
                    'method':method
                },
                dataType: 'json',
                url: url,
                success: loadData,
                error: errorInfo,
                //采用异步
                async: true
            });
        }

        /***** 价差分析函数 *****/
        function getBondYTMDiffCacl(bondType,duration, startTime, endTime, containerName, method) {
            var url = '/FixedIncome/YTMAnalytic/getBondYTMDiffCacl';
            //给method赋默认参数
            method = method ? method : 'loadDiff';
            $.ajax({
                type: 'POST',
                data:{
                    "bondType[]":bondType,
                    "duration[]":duration,
                    "startTime":startTime,
                    "endTime":endTime,
                    'containerName':containerName,
                    'method':method
                },
                dataType: 'json',
                url: url,
                success: loadData,
                error: errorInfo,
                //采用异步
                async: true
            });
        }

        var loadData = function(data) {
            var seriesData = [];
            var arrayData = [];
            //解析json数据
            data = eval('('+data+')');
            //取出债券名称
            var bondType = data.bondType;
            var containerName = data.containerName;
            var method = data.method;
            //加载数据
            $.each(data.quoteData, function (i, item) {
                seriesData.push([
                    str2UTC(item.timestamp),
                    parseFloat(item.bondytm)
                ]);
                arrayData.push([
                    parseFloat(item.bondytm)
                ]);
            });
            /*******  创建图形  ******/
            createCharts(seriesData, bondType, containerName);
            //$('body').mLoading("hide");

            /*******  加载数据分析数据  ******/
            //销毁变量，释放空间
            delete seriesData;
            //如果是价差分析，加载数据分析函数
            if(method == 'loadDiff'){
                loadAnalysisData(arrayData);
            }

            //console.log(data);
        };

        /***** 数据分析函数 *****/
        function loadAnalysisData(arrayData) {
            var url = '/FixedIncome/YTMAnalytic/getBondYTMAnalyicData';
            $.ajax({
                type: 'POST',
                data:{
                    "arrayData[]":arrayData
                },
                dataType: 'json',
                url: url,
                success: loadAnalysis,
                error: errorInfo,
                //采用异步
                async: true
            });
        }

         var loadAnalysis = function(data) {
            console.log(data);
            //解析json数据
            data = JSON.parse(data) ;
            //取出分析指标
            var mean = data.mean;
            var median = data.median;
            var latestDiff = data.latestDiff;
            var latestDiffDiff = data.latestDiffDiff;
            var latestDiffPercent = (data.latestDiffPercent*100).toFixed(2) + '%';
            var standardDeviation = data.standardDeviation;
            var lastDiff = data.lastDiff;
            var deviateMean = data.deviateMean;

            //最新价差
            if(latestDiffDiff < 0){
               changeFont('latestDiffPrice', latestDiff, 'green');
               changeFont('latestDiffDiff', latestDiffDiff, 'green');
               changeFont('latestDiffPercent', latestDiffPercent, 'green');
            }
            else if(latestDiffDiff == 0) {
               changeFont('latestDiffPrice', latestDiff, 'black');
               changeFont('latestDiffDiff', latestDiffDiff, 'black');
               changeFont('latestDiffPercent', latestDiffPercent, 'black');
            }
            else {
               changeFont('latestDiffPrice', latestDiff, 'red');
               changeFont('latestDiffDiff', latestDiffDiff, 'red');
               changeFont('latestDiffPercent', latestDiffPercent, 'red');
            }

            //昨日价差
            changeFont('lastDiffPrice', lastDiff, 'black');

            //平均值，中位数展示
            changeFont('diffMean', mean, 'black');
            changeFont('diffMedian', median, 'black');

            //偏离平均值，百分位数展示
            changeFont('diffDeviateMean', deviateMean, 'black');
            //changeFont('diffPercent', mean, 'black');

            //标准差，最大值展示
            changeFont('diffStandardDeviation', standardDeviation, 'black');
            //changeFont('diffMax', mean, 'black');

            //偏离标准差，最小值展示
            //changeFont('diffDeviateStandardDeviation', mean, 'black');
            //changeFont('diffMin', mean, 'black');

         };

        /***** 生成矩阵函数 *****/
        function generateYTMMatrix(bondType,duration, startTime, endTime, containerName) {
            var url = '/FixedIncome/YTMAnalytic/generateYTMMatrix';
            $.ajax({
                type: 'POST',
                data:{
                    "bondType[]":bondType,
                    "duration[]":duration,
                    "startTime":startTime,
                    "endTime":endTime,
                    'containerName':containerName
                },
                dataType: 'json',
                url: url,
                success: loadMatrix,
                error: errorInfo,
                //采用异步
                async: true
            });
        }

        var loadMatrix = function(data) {
            data = eval('(' + data + ')');
            //创建映射字典
            var bondType = {}, index = 0;
            $.each(data, function (i, item) {
                bondType[i] = index++;
            });


            /**
             * 创建价差矩阵
             * **/
            var diffMatrix = new Array();
            $.each(data, function (k1, val1) {
                //console.log(val1);
                diffMatrix[bondType[k1]] = new Array();
                $.each(val1, function (k2, val2) {
                    //console.log(bondType[k1], bondType[k2]);
                    diffMatrix[bondType[k1]][bondType[k2]] = val2;
                });
            });

            //清除原表格
            $("#durationMatrix").remove();
            /*生成表格并把表格加入容器*/
            var table = $("<table id='diffMatrix' class='hor-minimalist-b'>");
            table.appendTo($("#diffMatrixContainer"));

            //生成表头
            var thead = $("<thead> <tr> </tr> </thead>");
            thead.appendTo(table)
            //添加空格
            var th = $("<th scope='col'></th>");
            th.appendTo(thead);
            for (var key in bondType) {
                var th = $("<th scope='col'>" + key + "</th>");
                th.appendTo(thead);
            }

            //生成表体
            var tbody = $("<tbody> <\tbody>");
            tbody.appendTo(table);
            for (var key1 in bondType) {
                var tr = $("<tr> <\tr>");
                tr.appendTo(tbody);
                var th = $("<th>" + key1 + "</th>");
                th.appendTo(tr);
                for (var key2 in bondType) {
                    var td = $("<td>" + diffMatrix[bondType[key1]][bondType[key2]] + "</td>");
                    td.appendTo(tr);
                }
            }
        };

        /***** 生成矩阵函数 *****/
        /*
        function generateYTMMatrix(bondType,duration, startTime, endTime, containerName) {
            var url = '/FixedIncome/YTMAnalytic/generateYTMMatrix';
            $.ajax({
                type: 'POST',
                data:{
                    "bondType[]":bondType,
                    "duration[]":duration,
                    "startTime":startTime,
                    "endTime":endTime,
                    'containerName':containerName
                },
                dataType: 'json',
                url: url,
                success: loadMatrix,
                error: errorInfo,
                //采用异步
                async: true
            });
        }

        var loadMatrix = function(data) {
            data = eval('(' + data + ')');
            //创建映射字典
            var bondType = {}, index = 0;
            $.each(data, function (i, item) {
                bondType[i] = index++;
            });
        */

            /**
             * 创建价差矩阵
             * **/
            /*
            var diffMatrix = new Array();
            $.each(data, function (k1, val1) {
                //console.log(val1);
                diffMatrix[bondType[k1]] = new Array();
                $.each(val1, function (k2, val2) {
                    //console.log(bondType[k1], bondType[k2]);
                    diffMatrix[bondType[k1]][bondType[k2]] = val2;
                });
            });

            //清除原表格
            $("#diffMatrix").remove();
            //生成表格并把表格加入容器
            var table = $("<table id='diffMatrix' class='hor-minimalist-b'>");
            table.appendTo($("#diffMatrixContainer"));

            //生成表头
            var thead = $("<thead> <tr> </tr> </thead>");
            thead.appendTo(table)
            //添加空格
            var th = $("<th scope='col'></th>");
            th.appendTo(thead);
            for (var key in bondType) {
                var th = $("<th scope='col'>" + key + "</th>");
                th.appendTo(thead);
            }

            //生成表体
            var tbody = $("<tbody> <\tbody>");
            tbody.appendTo(table);
            for (var key1 in bondType) {
                var tr = $("<tr> <\tr>");
                tr.appendTo(tbody);
                var th = $("<th>" + key1 + "</th>");
                th.appendTo(tr);
                for (var key2 in bondType) {
                    var td = $("<td>" + diffMatrix[bondType[key1]][bondType[key2]] + "</td>");
                    td.appendTo(tr);
                }
            }
        };
        */

        //错误信息处理界面
        var errorInfo = function (msg) {
            console.log(msg);
            //关闭进度条
            //$('body').mLoading("hide");
        };

        function createCharts(data, bondType, containerName) {
            //关闭UTC时间,设置title格式
            Highcharts.setOptions({
                global: {
                    useUTC: false,
                    timezoneOffset: -8 * 60
                },
                //去除左上角的字体
                lang: {
                    rangeSelectorZoom: null
                },
                title: {
                    align: 'left', x: 5, y: 20,
                    style: {
                        fontSize: '20px',
                        color: '#304354',
                        fontWeight: 'bold',
                    }
                }
            });
            // Create the chart
            Highcharts.stockChart(containerName, {
                title: {
                    //设置标题
                    text: bondType,
                },
                tooltip: {
                    xDateFormat: '%Y-%m-%d',
                    shared: true,
                },
                plotOptions: {
                    series: {
                        pointStart: Date.UTC(2012, 0, 1),
                        pointInterval: 24 * 3600 * 1000
                    }
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '8px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: '到期收益率'
                    }
                },
                series: [{
                    name: 'YTM',
                    data: data,
                    id: 'dataseries'
                    // the event marker flags
                }, {
                    type: 'flags',
                    data: [{}],
                    onSeries: 'dataseries',
                    shape: 'circlepin',
                    width: 16
                }],
                rangeSelector: {
                    buttonTheme: {
                        display: 'none' // 不显示按钮
                    },
                    selected: 0,
                    inputEnabled: true // 不显示日期输入框
                },
                //添加切换久期的按钮
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false,
                            menuItems: [{
                                text: 'Download PDF',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/pdf'
                                    });
                                }
                            }, {
                                    text: 'Print',
                                    onclick: function () {
                                        alert('Launch Print Table function')
                                    },
                                    separator: false
                            }]
                        }
                    }
                }
            });
        }

    </script>


</body>
</html>